<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link href="../static/css/blogsheet.css" rel="stylesheet">
    <link href="../static/css/lib/highlight.css" rel="stylesheet">
</head>
<body>

{{template "block/nav.html" .}}
<img src="/static/img/me.JPG">
<div id="aboutme">
    
    <div>
        <!-- <img src="/static/img/me.JPG"> -->

        <div id="myt">
            <p class="myp">
                <a href="{{.Github}}">Github:{{.Github}}</a>
            </p>
            <p class="myp">
                <a href="{{.Email}}">Email:{{.Email}}</a>
            </p>
            <p class="myp">
                <a href="{{.Blok}}">Blok:{{.Blok}}</a>
            </p>
        </div>
    </div>
</div>

</body>
</html>